<section class="faq">
    <article class="faq__content">
        <header class="faq__head">
            <h1>FAQ's</h1>
        </header>

        <section class="faq__list">
            <article class="faq__item">
                <div class="faq__item-title">What are the benefits of Selenex GSH?</div>
                <div class="faq__item-content">
                    <p>Selenex GSH uses three key ingredients to Age Better and
                        increase longevity.</p>
                    <ul>
                        <li>Promote longevity and general well-being</li>
                        <li>Rejuvenate cells by raising glutathione level</li>
                        <li>Protect cells from harmful free radicals</li>
                        <li>Support immune health</li>
                        <li>Support liver detoxification processes</li>
                        <li>Maintain cognitive function</li>
                        <li>Maintain healthy vision</li>
                        <li>Support youthful skin appearance</li>
                    </ul>
                </div>
            </article>

            <article class="faq__item">
                <div class="faq__item-title">What is Glutathione?</div>

                <div class="faq__item-content">
                    <p>Glutathione is an antioxidant that is capable of
                        preventing damage to important cellular components caused by reactive oxygen species such as
                        free radicals, peroxides, lipid peroxides, and heavy metals.</p>
                    <p>Restoring your glutathione level may have the below benefits:</p>
                    <ul>
                        <li>Help keep cells healthy and restore robust health.</li>
                        <li>Provide cellular protection against free radicals.</li>
                        <li>Support the body’s own natural ability to rid itself of toxins.</li>
                        <li>Promote liver and immune system function.</li>
                        <li>Helps with longevity and a whole-body feeling of health and youth.</li>
                        <li>Supports a healthy prostate, heart, lung and colon.</li>
                    </ul>
                </div>
            </article>

            <article class="faq__item">
                <div class="faq__item-title">Is Selenex GSH Gluten Free?</div>

                <div class="faq__item-content">
                    <p>Yes! Selenex GSH is free from<strong>gluten, soy,
                        dairy</strong> and is <strong>Non-GMO</strong>!</p>
                    <img src="images/labeliconset.svg">
                </div>
            </article>

            <article class="faq__item">
                <div class="faq__item-title">How do I take Selenex GSH and in what dosage?</div>

                <div class="faq__item-content">
                    <p>Take 2 capsules of Selenex GSH once daily or as directed by your healthcare provider. Each
                        bottle contains a 30-day supply.</p>
                </div>
            </article>
            <article class="faq__item">
                <div class="faq__item-title">Will Selenex GSH interact with medications I'm taking?</div>
                <div class="faq__item-content">
                    <p>Selenex GSH is an all-natural formula, made from
                        ingredients that have been deemed to be safe. However, as with any dietary supplement, you
                        should consult a physician before adding any supplement to your routine.</p>
                </div>
            </article>
            <article class="faq__item">
                <div class="faq__item-title">Is Selenex Guaranteed?</div>

                <div class="faq__item-content">
                    <p>Absolutely! We are so certain that you’ll love Selenex
                        GSH, we offer a 90-day money-back guarantee. If for any reason you are not completely
                        satisfied
                        with your product, just contact our customer care team before sending your return to obtain
                        a
                        return merchandise authorization number (RMA).</p>
                </div>
            </article>
            <article class="faq__item">
                <div class="faq__item-title">Supplements Facts</div>
                <div class="faq__item-content">
                    <p>Selenex GSH gives you three clinically studied ingredients to help you feel your best!</p>
                    <img src="images/sel_factpannel.svg" alt="">
                </div>
            </article>
        </section>
    </article>
</section>