<section class="product-plan">
    <div class="product-plan__content">
        <header class="product-plan__head">
            <h1>Special Online-Only Offer on Selenex GSH by Dr. Allen Green</h1>

            <p>Helps Fight Fatigue, Stress and Aging to Keep You Feeling Young</p>
        </header>

        <div class="product-plan__list">
            <div class="product-plan__card" data-product="1">
                <div class="product-plan__caption">1 Month Supply</div>

                <img class="product-plan__img" src="images/botle.jpg">

                <ul class="product-plan__features">
                    <li>1 Bottle of Selenex GSH for $39.95</li>
                    <li>plus $6.95 shipping and handling</li>
                </ul>

                <div class="product-plan__price" data-old-price="$49.95" data-price-adit="">
                    $39.95!
                </div>

                <a class="button" href="#setOrder">ORDER NOW</a>
            </div>

            <div class="product-plan__card" data-product="2">
                <mark class="product-plan__sticker">
                    <span>MOST POPULAR</span>
                </mark>
                <div class="product-plan__caption">3 Month <br> Supply + 1 Free</div>

                <img class="product-plan__img" src="images/botle_plus_1.jpg">

                <ul class="product-plan__features">
                    <li>3 Bottles of Selenex GSH</li>
                    <li>An extra 1 FREE Bottle of Selenex GSH — a $49.95 value!</li>
                </ul>

                <div class="product-plan__price" data-old-price="$149.85" data-price-adit="+ Free Shipping">
                    $119.85!
                </div>

                <a class="button" href="#setOrder">ORDER NOW</a>
            </div>

            <div class="product-plan__card" data-product="3">
                <mark class="product-plan__sticker product-plan__sticker--yellow">
                    <span>BEST VALUE</span>
                </mark>
                <div class="product-plan__caption">5 Month <br> Supply + 2 Free</div>

                <img class="product-plan__img" src="images/botle_plus_2.jpg">

                <ul class="product-plan__features">
                    <li>5 Bottles of Selenex GSH at our introductory $50 off discount</li>
                    <li>An extra 2 FREE Bottles of Selenex GSH — a $99.90 value!</li>
                </ul>

                <div class="product-plan__price" data-old-price="$249.75" data-price-adit="+ Free Shipping">
                    $199.75!
                </div>

                <a class="button" href="#setOrder">ORDER NOW</a>
            </div>
        </div>
    </div>
</section>