

<section id="setOrder" class="set-order">
  <!-- 
  <iframe
    src="https://north-american-nutra.myshopify.com/a/secure/checkout/LTR3FfRBlPhEAugH4aag?variant_id=14623785844809&quantity=1"
    style="width: 100%"
    id="iframe"
    onload="iframeloaded(this)"
  ></iframe>
  <iframe 
    src="//north-american-nutra.myshopify.com/a/secure/checkout/0cRNfUCs3qQJYf9wD6lV?variant_id=14623785877577&quantity=1"
    onload="iframeLoaded(this)"
  ></iframe>
  <iframe src="//northamericannutra.com/a/secure/checkout/y6ABLmnSpJLSQk4UyEdS?variant_id=14621943627849&quantity=1"
    onload="iframeLoaded(this)"
  ></iframe> -->
  <div class="iframe-wrapper" data-product="1">
    <iframe
      src="//northamericannutra.com/a/secure/checkout/y6ABLmnSpJLSQk4UyEdS?variant_id=14621943627849&quantity=1"
    ></iframe>
  </div>
  <div class="iframe-wrapper" data-product="2">
    <iframe
      src="https://north-american-nutra.myshopify.com/a/secure/checkout/LTR3FfRBlPhEAugH4aag?variant_id=14623785844809&quantity=1"
    ></iframe>
  </div>
  <div class="iframe-wrapper" data-product="3">
    <iframe
      src="//north-american-nutra.myshopify.com/a/secure/checkout/0cRNfUCs3qQJYf9wD6lV?variant_id=14623785877577&quantity=1"
    ></iframe>
  </div>
</section>