<section class="testimonials">
    <div class="testimonials__list">
        <div class="testimonials__items">
            <img class="testimonials__avatar" src="images/revimg1.jpg">

            <div class="testimonials__rating">★★★★★</div>

            <div class="testimonials__description">After taking this supplement for a few weeks, I am feeling much
                better. It gives me more energy and
                strength.
            </div>

            <div class="testimonials__author">Charlie E. Harmon <span>Verified Customer</span></div>
        </div>

        <div class="testimonials__items">
            <img class="testimonials__avatar" src="images/revimg2.jpg">

            <div class="testimonials__rating">★★★★★</div>

            <div class="testimonials__description">I am getting better each day. I will continue using it for a long
                time. It works.
            </div>

            <div class="testimonials__author">Margit G. Dawsonon <span>Verified Customer</span></div>

        </div>

        <div class="testimonials__items">
            <img class="testimonials__avatar" src="images/revimg3.jpg">

            <div class="testimonials__rating">★★★★★</div>

            <div class="testimonials__description">After three weeks of taking this formula, I can honestly say that
                my breathing has improved.
            </div>

            <div class="testimonials__author">J. Panda <span>Verified Customer</span></div>
        </div>

        <div class="testimonials__items">
            <img class="testimonials__avatar" src="images/revimg4.jpg">

            <div class="testimonials__rating">★★★★★</div>

            <div class="testimonials__description">I feel a difference for the better and my hair seems to be
                growing faster than usual.
            </div>

            <div class="testimonials__author">Trudie Quinn <span>Verified Customer</span></div>

        </div>
    </div>
</section>