.coupon {
  padding: var(--section-spacer) 0;

  color: $cl-white;

  background-color: $cl-gray-dark;

  &__content {
    @extend .container;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  &__text {
    margin-right: rem(36);

    white-space: nowrap;

    font-size: rem(42);
    font-weight: 900;
  }

  &__form {
    display: inline-grid;
    grid-template-columns: minmax(rem(200), rem(260)) max-content;

    border-radius: rem(6);
    background: $cl-white;
    overflow: hidden;

    input {
      height: rem(48);


      padding: 0 rem(20);

      font-size: rem(18);
      font-weight: 400;
      line-height: 1;
      text-align: center;

      border: none;
      background: transparent;

      @include placeholder {
        opacity: .5;
      }
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;

    padding: 0 rem(16);

    font-size: rem(18);
    font-weight: bold;
    letter-spacing: rem(-0.5);
    text-transform: uppercase;

    color: $cl-white;

    background-color: $cl-green;

    &:hover {
      color: unset;

      background-color: $cl-green-dark;
    }
  }

  @include max-wide(phones) {
    &__text {
      margin: 0 0 rem(18);

      font-size: rem(30);
    }
  }
}