.form-group {
  margin-bottom: rem(16);

  &, &__inside {
    display: grid;
    grid-template-columns: var(--form-group-tmp-col, 1fr 1fr);
    grid-gap: rem(10);
  }

  &__inside {
    padding: rem(10);

    background-color: $cl-silver;

    &--card {
      --form-group-tmp-col: 1.2fr .4fr .4fr;

      & > *:first-child {
        grid-column: 1/4;
      }
    }
  }

  &__capt {
    display: inline-flex;
    flex-flow: column;

    margin: rem(20) 0 rem(10);

    font-size: rem(18);
    text-transform: uppercase;
    font-weight: 500;
  }

  &__text {
    text-transform: none;
    font-size: rem(14);
    color: $cl-text-second;
    opacity: .5;
  }

  &__set {
    border: rem(1) solid $cl-silver;
    border-radius: $elemRadius;
    background-color: $cl-white;


    & > *:not(:first-child) {
      margin-top: rem(-1);
      border-top: rem(1) solid $cl-silver;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    padding: 0 $contentPadding;

    min-height: rem(50);

    [class*='sli-'] {
      margin-right: rem(20);

      font-size: rem(24);
      color: $cl-green;
    }

    .sli-cards {
      margin-right: 0;
    }
  }

  &__full-item, &__capt, &__set {
    grid-column: var(--form-group-col, 1/3);
  }


  @include max-wide(phones) {
    --form-group-tmp-col: 1fr;
    --form-group-col: 1;
  }
}
